<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Esta es mi página Principal</h1>
    <hr>
    <h2><%= subtitulo %></h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Velit soluta fuga sed sapiente ea dolorum nihil iure, 
        quae impedit aliquam similique neque minima voluptatibus.
        Inventore voluptas pariatur mollitia earum. Veniam?
    </p>
    <hr>
    <br>
    <button onclick="location.replace('/usuarios')">Ir al listado de usuarios</button>
    
</body>
</html>